har_deployment/node_modules/*
backend/node_modules/*
mqttAEDES/node_modules/*
node_modules/*
build/*
public/Images/*
public/Videos/*
docs/*
VisualStimuli/*
certificate/*
backend/exported_data/*
backend/raw_gaze_data/*
documentations/~$Player.docx
.vs/*
Tobii_RemoteEyeTrackingServer_MQTT/.vs/*
Tobii_RemoteEyeTrackingServer_MQTT/TobiiRemoteEyeTrackingServer/obj/*
Tobii_RemoteEyeTrackingServer_MQTT/TobiiRemoteEyeTrackingServer/bin/*
Tobii_RemoteEyeTrackingServer_MQTT/packages/*

src/core/mqttClientTest.js
node_modules
.vscode/launch.json
har_prediction/package-lock.json
mqttAEDES/certs